.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  font-size: 34px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 60px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 0;
}

.table__cell {
  width: 250px;
  list-style: none;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
