.feynman{
    height: 790px;
    position: relative;
    background-color: #f2f2f2;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
}

.feynman__title{
    width: 775px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle{
    padding-top: 70px;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-align: center;
}

.feynman__link{
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
}

.feynman__image{
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}