.kaufman{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.kaufman__triangle{
    width: 660px;
    height: 636px;
    position: absolute;
    top: -2px;
    right: -124px;
    z-index: -1;
}

.section-title__theme_dark{
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
    color: white;
}

.section-subtitle__theme_dark{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    color: white;
    padding-top: 20px;
}

.table__theme_dark{
    width: 1100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__cell_theme_dark{
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.table__heading_theme_dark{
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
}

.table__text_theme_dark{
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}