@import url("../styles/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/descripton.css");
@import url("../blocks/digits.css");
@import url("../blocks/feynman.css");
@import url("../blocks/kaufman.css");
@import url("../blocks/footer.css");
